/** imports **/
@import "./fonts.css";

/** elements **/
h1 {
	font-size: 1rem;
}

/** Components **/
.App-header {
	background-color: #6cc551;
	color: white;
	padding: 0.5rem 2rem;
	height: 10vh;
}

.App-header h1 {
	font-size: 3rem;
	font-family: "Barriecito", cursive;
	margin: 0;
	line-height: 8vh;
	display: inline-block;
}

.App-header a {
	text-decoration: none;
	color: inherit;
}

.App-header a,
.App-header a:hover,
.App-header a:active,
.App-header button {
	color: white;
	text-decoration: none;
}

.App-header a:hover h1,
.App-header a:active h1 {
	letter-spacing: 0.05rem;
	animation: spaceout 1s ease forwards;
}

.App-header ul {
	margin: 0;
}

.App-header ul li {
	list-style: none;
	display: inline-block;
	margin-left: 2rem;
}

.App-footer {
	background-color: #0b191c;
	color: white;
	/* padding: 3rem 2rem; */
	min-height: 30vh;
}

.App-footer .row {
	padding: 3rem 2rem;
}

.App-link {
	color: #61dafb;
}

.Login,
.SignUp {
	text-align: center;
}

.Dashboard {
	background: black;
	overflow: hidden;
}

.right-column,
.left-column,
.info-box {
	min-height: 80vh;
	background-position: center center;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
	background-size: cover;
	background-color: black;
	color: white;
	opacity: 0.8;
	padding: 6rem;
}

.right-column:hover,
.left-column:hover {
	opacity: 1;
	animation: zoom 0.5s ease forwards;
	z-index: 1;
	cursor: pointer;
}

.right-column:hover a,
.left-column:hover a {
	color: inherit;
	text-decoration: underline;
}

.right-column h2,
.left-column h2 {
	padding-top: 10vh;
	font-weight: bold;
	font-size: 4rem;
	text-shadow: 1px 1px 10px #0b191c;
	word-break: keep-all;
}

.right-column a,
.left-column a {
	color: white;
}

.left-column {
	background-image: url("https://images.britcdn.com/wp-content/uploads/2014/08/Quick-instant-no-yeast-naan-copy1.jpg");
}

.right-column {
	background-image: url("https://www.nextpittsburgh.com/wp-content/uploads/2015/01/RLP_7965.jpg");
}

/** animations **/
@keyframes spaceout {
	from {
		letter-spacing: initial;
	}
	to {
		letter-spacing: 0.3rem;
	}
}

@keyframes zoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.01);
	}
}

.feed-column {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 160px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
}

.main-body {
	display: flex;
	flex-direction: column;
	background-color: #11171d;
	min-height: 80rem;
}

.body {
	display: flex;
	flex-direction: column;
}

.info-body {
	display: flex;
	flex-direction: column;
	width: 566px;
	height: 170px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	/* background-color: black; */
	margin-left: 25rem;
	margin-bottom: 0.1rem;
	color: black;
}

.info-body:hover {
	background-color: rgb(124, 120, 120);
	border: white;
}

.picture {
	margin-left: 24px;
	margin-top: 17px;
	border-radius: 50%;
	width: 48px;
	height: 48px;
}

.name {
	display: flex;
	flex-direction: row;
	margin-left: 15px;
	margin-top: 19px;
	min-width: 85px;
	height: 17px;
	font-family: HelveticaNeue;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.6px;
	color: #a72929;
}

.date {
	margin-left: 19px;
	margin-top: 10px;
	min-width: 128px;
	height: 16px;
	font-family: HelveticaNeue;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.6px;
	color: #75797d;
}

.description {
	margin-left: 15px;
	margin-top: 7px;
	width: 445px;
	height: 88px;
	font-family: HelveticaNeue;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.6px;
	color: #4923d3;
}

.bm-item {
	display: inline-block;
	text-decoration: none;
	margin-bottom: 10px;
	color: #d1d1d1;
	transition: color 0.2s;
}

.bm-item:hover {
	color: white;
}

.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	right: 36px;
	top: 36px;
}

.bm-burger-bars {
	background: white;
}

.bm-cross-button {
	height: 24px;
	width: 24px;
}

.bm-cross {
	background: #bdc3c7;
}

.bm-menu {
	background: #373a47;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
}

.bm-morph-shape {
	fill: #373a47;
}

.bm-item-list {
	color: #b8b7ad;
}

.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
